# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Maven
# =========================
target/
.mvn/
!mvnw
!mvnw.cmd

# =========================
# Gradle
# =========================
.gradle/
build/
!gradle-wrapper.jar

# =========================
# Spring Boot
# =========================
*.class
*.jar
*.war
*.ear
logs/
*.log
*.tmp
*.bak
*.swp
*.old
hs_err_pid*

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# BlueJ
# =========================
*.ctxt

# =========================
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# =========================
# Others
# =========================
*.log
